.grid{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    " header header header "
    "section section section  "
    "footer footer footer ";

    /* grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%; */
}

.header{
    height: 70vh;
    display: grid;
    grid-area: header;
    opacity: 0.8;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    /* background-image: url(./waves/wavesanimation.jfif); */
    /* background-size: contain;
    background-repeat: no-repeat; */
    font-family: 'Marck Script', cursive;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
   
}

.grid h1{
    background-color: black;
    color: white;
    margin: auto;
    position: sticky;
    top: 0;
    color: aqua;
    border-radius: 15%;
    width: 50%;
    
   
    
    
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    min-width: 100%;
    min-height: 50%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
}
.waves{
    transition: 2s ease-in-out;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    margin: 15;
    opacity: 0.8;
    font-family: 'Oswald', sans-serif;
    border-radius: 15%;
    
}

nav{
    flex-direction: column;
    display: flex;
    
    
    

}
nav button{
    padding: 20px;
    background-color: black;
    opacity: 0.7;
    color: white;
    margin: 15px;
    cursor: pointer;
    transition: 0.8s ease-in-out;
    
       
}
.button {
    
    text-decoration: none;
    color: white;
    padding: 2px 6px 2px 6px;
    
    
  }



nav button:hover{
    transform: scale(1.1);
    opacity: 1;
    
    
}

.haircut{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
    display: flex;
    float: left;
    justify-content: space-between;
    
}

ul{
    background-color: black;
    opacity: 0.8;
    border-radius: 50%;
}

.img{
    border-radius: 15%;
}

.images{
    border: solid 2px black;
    text-align: center;
    background-color: white;
    opacity: 0.9;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 15%;
    filter: grayscale();
    
    
    
}

.images:hover{
    transition: 1s ease-in-out;
    transform: scale(1.1);
    opacity: 1;
    filter: none;
    

}

.waves:hover{
    transform: scale(1.1);
    

}

    


  .section{

      /* font-family: 'Marck Script', cursive; */
      display: grid;
      grid-area: section;
      text-align: center;
      background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
      
      
  }

  .section h2{
      text-decoration: underline;
      text-align: center;
      color: aqua;
      font-family: 'Marck Script', cursive;
  }


  .footer{
    display: grid;
    grid-area: footer;
}